###Practice Exercises

In [ ]:
#1.Import math and calculate sine of 30degrees using math.sin(math,radians(30)),

import math
result=math.sin(math.radians(30))
print(result)

0.49999999999999994

In [ ]:
#2.Import random as rng and generate a random integer between 50-75

import random as rng
random_number=rng.randint(50,75)
print(random_number)

57

In [ ]:
#3.Create calc.py with square function import and print square of 8.
#calc.py
def square(n):
    return n*n
print(square(8)) #import square

64

In [ ]:
#4.Import choice from random, pick from fruits list ["mango","apple","grape

from random import choice
fruits=["mango","apple","grapes"]
random_fruits=choice(fruits)
print(random_fruits)

grapes

###HOME ASSIGNMENTS

###TUPLES AND SETS

In [ ]:
#1.TUPLES

fruits=("apple","banana","mango")
print(fruits[0])

apple

In [ ]:
#2.sets

colors={"red","green","blue"}
colors.add("yellow")
print(colors)

{'green', 'blue', 'yellow', 'red'}

###EXPERIMENT WITH FUNCTION ALIASING

In [ ]:
#EXAMPLE 1. ALIASING A CUSTOM FUNCTION
def greet(name):
    return f"Hello,{name}!"
say_hello=greet
print(say_hello("sristi"))

Hello,sristi!

In [ ]:
#Example 2. Aliasing a built-in function

import math
sine=math.sin
print(sine(math.radians(30)))

0.49999999999999994

In [ ]:
from ast import Add
#Example 3.Changing behaviour with aliasing

def add(a,b):
  return a+b
sum_numbers= add
print(sum_numbers(5,3))

8

In [ ]:
#Redine add,but alias still works

def add(a,b):
    return a-b
print(add(5,3))
print(sum_numbers(5,3))

2
8

### EXPLORE MORE MODULES WITH FUNCTIONS / METHODS EXCEPT FOR MATHS

In [ ]:
#1.DATE TIME
from datetime import datetime
now=datetime.now()
print("current time:",now.strftime("Y-%M-%d %H: %M:%s"))

current time: Y-34-19 16: 34:1750350841

In [ ]:
#2. random-Generate random values

import random

print(random.randint(1, 10))
print(random.choice(['a','b','c']))

3
b

In [ ]:




-